<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-4 shadow-sm">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a href="/home" class="navbar-brand mt-2 mt-lg-0">
        <img
          src="../../../assets/resources/image-logo.jpeg"
          height="60"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link" href="/home">INICIO</a>
        </li>
        <li class="nav-item mx-2">
          <button
            class="nav-link"
            mat-button
            [matMenuTriggerFor]="matMenuAbout"
          >
            ACERCA DE NOSOTROS
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #matMenuAbout="matMenu">
            <button mat-menu-item (click)="routerLink('/aviso-privacidad')">AVISO DE PRIVACIDAD</button>
            <button mat-menu-item (click)="routerLink('/mision-vision')">MISIÓN Y VISIÓN</button>
            <button mat-menu-item (click)="routerLink('/preguntas-frecuentes')">PREGUNTAS FRECUENTES</button>
          </mat-menu>
        </li>
        <li class="nav-item mx-2">
          <button
            class="nav-link"
            mat-button
            [matMenuTriggerFor]="matMenuMujer"
          >
            MUJER
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #matMenuMujer="matMenu">
            <button mat-menu-item>OPC 1</button>
            <button mat-menu-item>OPC 2</button>
            <button mat-menu-item>OPC 3</button>
          </mat-menu>
        </li>
        <li class="nav-item mx-2">
          <button
            class="nav-link"
            mat-button
            [matMenuTriggerFor]="matMenuHombre"
          >
            HOMBRE
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #matMenuHombre="matMenu">
            <button mat-menu-item>OPC 1</button>
            <button mat-menu-item>OPC 2</button>
            <button mat-menu-item>OPC 3</button>
          </mat-menu>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/pedidos">PEDIDOS</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- search input -->
      <div class="d-flex mx-4">
        <form class="d-flex input-group w-auto mx-2">
          <input
            type="search"
            class="form-control form-control-sm rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
        </form>
        <button mat-mini-fab color="primary" matTooltip="Buscar">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <button class="nav-link" (click)="routerLink('/login')" mat-button>INICIAR SESIÓN</button>

      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="../../../assets/resources/perfilimagen.png"
            class="rounded-circle"
            height="35"
            alt="Black and White Portrait of a Man"
            loading="lazy"
            [matMenuTriggerFor]="matMenuPerfil"
          />
        </a>
        <mat-menu #matMenuPerfil="matMenu">
          <button mat-menu-item><mat-icon>account_circle</mat-icon> Mi perfil</button>
          <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</button>
        </mat-menu>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
