<footer class="footer-main text-lg-start text-center text-white">
  <section>
    <div class="container text-center text-md-start py-4">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <p class="text-uppercase fw-bold mb-3">Sastreria Los Pajaritos</p>
          <p class="fw-light footer-text">
            Prendas con estilo, ajuste personalizado y calidad en cada detalle.
            Descubre colecciones para dama y caballero.
          </p>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <p class="text-uppercase fw-bold mb-3">Informacion</p>
          <p>
            <a [routerLink]="['/home/mision-vision']" class="footer-link">
              Mision y vision
            </a>
          </p>
          <p>
            <a [routerLink]="['/home/aviso-privacidad']" class="footer-link">
              Aviso de privacidad
            </a>
          </p>
          <p>
            <a [routerLink]="['/home/preguntas-frecuentes']" class="footer-link">
              Preguntas frecuentes
            </a>
          </p>
        </div>

        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-4">
          <p class="text-uppercase fw-bold mb-3">Contacto</p>
          <mat-list role="list">
            <mat-list-item role="listitem" class="text-white fw-light">
              <mat-icon class="mx-2">home</mat-icon>Huejutla de Reyes, Hidalgo
              43000
            </mat-list-item>
            <mat-list-item role="listitem" class="text-white fw-light">
              <mat-icon class="mx-2">phone</mat-icon>+52 123 456 7888
            </mat-list-item>
            <mat-list-item role="listitem" class="text-white fw-light">
              <mat-icon class="mx-2">mail</mat-icon
              >sastrerialospajaritos@gmail.com
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </section>

  <div class="footer-bottom text-center p-3">
    Copyright 2026 - <span class="fw-bold">Sastreria Los Pajaritos</span>
  </div>
</footer>
